/* Navigation Bar */

nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 100;
  padding: 0 9rem;
  transition: 0.25s ease;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px solid black; */
}

.close {
  display: none;
}

.dropped {
  left: 0;
}

.github {
  display: none;
}

.logo {
  font-weight: 900;
  font-size: 2rem;
}

.logo > a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.5s ease;
}

.logo > a:hover {
  color: var(--primary-color);
}

.secnav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secnav > li {
  list-style-type: none;
  margin: 0 1rem;
  font-size: 1.5rem;
}

.secnav > li > .nav-card-cont > a > svg {
  display: none;
}

.secnav > li > .nav-card-cont a {
  text-decoration: none;
}

.secnav > li > .nav-card-cont a > p {
  color: var(--secondary-color);
  font-weight: 900;
  transition: 0.5s ease;
}

.secnav > li > .nav-card-cont > a > p:hover {
  color: var(--primary-color);
}

nav.scrolled {
  height: 7vh;
  background-color: var(--secondary-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

nav.scrolled .logo a {
  color: var(--main-color);
}

nav.scrolled ul li .nav-card-cont a > p {
  color: var(--main-color);
}

.side-menu {
  display: none;
}

/* Hero Section */

.herosec {
  background-color: var(--main-color);
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.herosec > * {
  margin: 0 1rem;
}

.left {
  width: 32.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left > * {
  margin: 1rem 0;
}

.title {
  font-weight: 400;
  color: var(--primary-color);
  font-size: 6rem;
  width: 100%;
}

.title > span {
  font-weight: 700;
  color: var(--secondary-color);
}

.bar {
  height: 0.25rem;
  width: 70%;
  background-color: var(--secondary-color);
}

.desc {
  width: 85%;
  color: var(--primary-color);
  font-weight: 300;
}

.button {
  color: var(--main-color);
  background-color: var(--tertiary-color);
  width: 32.5%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.5s ease;
}

.button:hover {
  transform: scale(1.1);
}

.right {
  width: 50%;
}

/* About Us */

#about {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
}

#about * {
  color: var(--main-color);
}

.section-title {
  text-align: center;
  color: var(--main-color);
  font-weight: 900;
  font-size: 3rem;
  padding: 5% 0 3% 0;
}

.about-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-cont > * {
  margin: 0 2rem;
}

.about-left {
  width: 40%;
}

.about-left > * {
  margin: 1rem 0;
}

.about-subtitle {
  font-weight: 900;
  font-size: 1.5rem;
}

.about-right img{
  width: 400px;
}

/* Services */

#services {
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
}

#services *{
  color: var(--secondary-color);
}

.serv-desc {
  text-align: center;
  width: 40%;
  padding-bottom: 3%;
}

.serv-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20%;
  height: 60vh;
  margin: 0 2rem;
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > * {
  margin: 1rem 0;
}

.card:hover {
  transform: scale(1.05);
}

.card:nth-child(1) {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:nth-child(2) {
  background-color: var(--secondary-color);
}
.card:nth-child(3) {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.card-logo {
  border: 0.25rem solid var(--secondary-color);
  border-radius: 50%;
  height: 10rem;
  width: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-subtitle {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 900;
}

.card-desc {
  text-align: center;
}

#card2 * {
  color: var(--main-color);
}

#card2 > .card-logo {
  border: 0.25rem solid var(--main-color);
}

#services svg {
  width: 60%;
}

/* Contact Us */
#contacts {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
}

.upper {
  height: 25vh;
  width: 100%;
  background-image: url('town.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  position: relative;
  z-index: 1;
}

.upper-overlay {
  content: "";
  height: 25vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.upper-overlay-text {
  font-size: 3rem;
  color: var(--tertiary-color);
  font-weight: 900;
  text-align: center;
}

.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.lower > * {
  margin: 0 1.5rem;
}

.lower-left {
  width: 30%;
}

.lower-card {
  height: 20vh;
  width: 100%;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
  margin: 1rem 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lower-card svg {
  width: 15%;
  margin: 0 3rem;
}

.lower-card svg path {
  fill: var(--tertiary-color);
}

.contact-info > * {
  margin: 0.5rem 0;
}

.contact-info > p {
  color: var(--secondary-color);
  font-size: 1.25rem;
}

.contact-info > p:nth-child(2) {
  font-weight: 900;
}

.lower-right {
  width: 30%;
}

.lower-right > form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

form > * {
  margin: 0.25rem 0;
}

label {
  color: var(--main-color);
}

.name {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.submit {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--main-color);
  border-radius: 5px;
  background-color: var(--tertiary-color);
  width: 25%;
  padding: 0.5rem 0;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1629px) {
  .about-desc {
    font-size: 0.9rem;
  }

  #services svg {
    width: 40%;
  }

  .card-logo {
    height: 7rem;
    width: 7rem;
  }

  .lower-right {
    height: 50%;
  }

  #contacts {
    height: 110vh;
  }
}

@media screen and (max-width: 1545px) {
  .button {
    width: 40%;
  }
  .contact-info > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1504px) {
  .card-subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1369px) {
  .about-left {
    width: 50%;
  }
}

@media screen and (max-width: 1328px) {
  p.title {
    font-size: 5rem;
  }

  .card {
    width: 25%;
  }

  .lower-left {
    width: 35%;
  }
  .submit {
    width: 30%;
  }
}

@media screen and (max-width: 1174px) {
  .button {
    width: 50%;
  }

  .upper-overlay-text {
    width: 90%;
  }
}

@media screen and (max-width: 1142px) {
  .lower-left {
    width: 45%;
  }
  .submit {
    width: 40%;
  }
}

@media screen and (max-width: 1068px) {
  .about-desc {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 959px) {
  .button {
    width: 60%;
  }
  .about-right img {
    width: 300px;
  }
}

@media screen and (max-width: 850px) {
  .github {
    display: block;
    width: 2.5rem;
  }
  .github svg path{
    fill: var(--main-color);
  }
  nav {
    padding: 0;
    bottom: 0;
    justify-content: space-between;
    padding: 0 4rem;
    z-index: 200;
    height: 7vh;
    background-color: var(--secondary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .logo > a {
    color: var(--main-color);
  }
  .side-menu {
    display: block;
    width: 2.5rem;
  }
  .side-menu svg path {
    fill: var(--main-color);
  }
  .secnav-cont {
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: -100%;
    left: 0;
    z-index: 0;
  }
  .secnav-cont.dropped {
    bottom: 0;
  }
  .secnav {
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 5%;
    background-color: var(--secondary-color);
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.37);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "About Services Contacts"
  }

  #about {
    grid-area: About;
  }
  #services {
    grid-area: Services;
  }
  #contacts {
    grid-area: Contacts;
  }
  li {
    height: 80%;
  }
  .nav-card-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .nav-card-cont > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80%;
  }

  .secnav > li > .nav-card-cont > a > svg {
    width: 50%;
    display: block;
  }

  .secnav > li > .nav-card-cont > a > svg > path {
    fill: var(--main-color);
  }

  .secnav > li > .nav-card-cont > a > p {
    color: var(--main-color);
  }

  .close {
    display: block;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
  }

  .close path {
    fill: var(--main-color);
  }

  /* Hero Section */
  .button {
    width: 70%;
  }
  .herosec {
    flex-direction: column;
    justify-content: flex-start;
    height: 130vh;
  }
  .herosec > * {
    margin: 2rem 0;
  }
  .left {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .left > * {
    margin: 0.5rem;
  }
  .desc {
    text-align: center;
  }
  .title {
    text-align: center;
  }
  .right {
    width: 80%;
  }

  /* About Section */
  #about {
    height: 140vh;
  }
  .about-cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-cont * {
    text-align: center;
  }
  .about-cont > * {
    margin: 2rem 0;
  }
  .about-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  .about-left > * {
    margin: 0.5rem 0;
  }
  .about-desc {
    width: 80%;
  }
  .about-right > img {
    width: 80%;
  }
}
