@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  transition: 0.5s ease;
  scroll-behavior: smooth;

  /* border: 1px solid red; */
}

:root {
  --main-color: #ffffff;
  --primary-color: #5aa6da;
  --secondary-color: #295cad;
  --tertiary-color: #eb9f73;
}
